:root {
  font-family: Arial, Inter, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
}

body {
  flex-direction: column;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: end;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.nav-link:hover {
  color: blue;
  transition: color 250ms ease-in-out;
}

.main {
  font-size: 2rem;
  text-align: justify;
  padding: 0 1rem;
}

.about {
  text-align: center;
}

.para {
  padding: 0;
  margin: 0;
  text-align: justify;
}
